numpy==2.2.4
pandas==2.2.3

torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1

transformers==4.51.3
peft==0.15.2
datasets==3.5.0
huggingface-hub==0.30.2
accelerate==1.6.0
safetensors==0.5.3

tokenizers==0.21.1
pyarrow==19.0.1
tqdm==4.67.1